<div class="side-panel-wrap" [ngClass]="isCollapse ? 'open' : 'close' ">
    <!-- ngClass can be used to switch between classes when clicking hamburger or button to show hide sidepanel -->
    <div class="hamburger-wrap" (click)="collapseSidePanel()">
        <div>
            <span *ngIf="!isCollapse">
                <button class="menu-btn"></button>
                <!-- <img class="hamburger-icon" src="../assets/images/menu.svg"> -->
            </span>

            <span *ngIf="isCollapse">
                <button class="menu-btn"></button>
                <!-- <img class="hamburger-icon" src="../assets/images/menu.svg"> -->
            </span>
        </div>
    </div>

    <div>
        <ul class="side-menu">
            <li><a class="selected">
                    <fa-icon [icon]="faHome"></fa-icon><span class="text">Home</span>
                </a></li>

            <li><a (click)="showHideLinkOne()">
                    <fa-icon [icon]="faFileAlt"></fa-icon><span class="text">Report</span>
                    <fa-icon [icon]="faChevronDown" class="chevron"></fa-icon>
                </a></li>
            <li *ngIf="showLinkOne">
                <ul>
                    <li><a><span class="text">Payment report</span></a></li>
                    <li><a><span class="text">Employee report</span></a></li>
                </ul>
            </li>
            <li><a (click)="showHideLinkTwo()">
                    <fa-icon [icon]="faUserFriends"></fa-icon><span class="text">Administration</span>
                    <fa-icon [icon]="faChevronDown" class="chevron"></fa-icon>
                </a></li>
            <li *ngIf="showLinkTwo">
                <ul>
                    <li><a><span class="text">Customer</span></a></li>
                    <li><a><span class="text">User</span></a></li>
                    <li><a><span class="text">Permission</span></a></li>
                </ul>

            </li>
        </ul>
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("mySidepanel").style.width = "350px";
    }

    function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
    }
</script>