<div class="search-content-wrapper">
    <div class="filter-column hide-in-mobile">
        <h2>Genres <fa-icon [icon]="faChevronDown" class="chevron"></fa-icon>
        </h2>
        <ul class="filter-list">
            <li class="selected">
                <label class="label-wrap">Action
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li><label class="label-wrap">Adventure
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Animation
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Comedy
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Documentaries
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Drama
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li class="selected">
                <label class="label-wrap">Fantasy
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li><label class="label-wrap">Horror
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Mystery
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Romance
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Thriller
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Western
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
        </ul>
    </div>

    <!-- mobile & tab view - filter list -->
    <div class="filter-column hide-in-desktop" [ngClass]="showTopPanel ? 'open' : 'close' ">
        <h2 (click)="showHideTopPanel()">Filter <fa-icon [icon]="faChevronDown" class="chevron"></fa-icon>
        </h2>
        <ul class="filter-list" *ngIf="showTopPanel" [ngClass]="showTopPanel ? 'show' : 'hide' ">
            <li class="selected">
                <label class="label-wrap">Action
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li><label class="label-wrap">Adventure
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Animation
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Comedy
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Documentaries
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Drama
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li class="selected">
                <label class="label-wrap">Fantasy
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li><label class="label-wrap">Horror
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Mystery
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Romance
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Thriller
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
            <li><label class="label-wrap">Western
                    <input type="checkbox" checked="checked">
                    <span class=""></span>
                </label></li>
        </ul>
    </div>
    <!-- end filter -->
    <div class="search-result-column">
        <div class="card-list-wrapper">
            <div class="movie-card" (click)="showHideDetails()" [ngClass]="showDetails ? 'selected' : '' ">
                <img src=" ../../../assets/images/card4.jpg">
                <p>Avengers 1</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
            <!-- mobile view - display only after each and every movie-cards -->
            <div class=detail-wrapper [ngClass]="showDetails ? 'showMobile' : 'hide'">
                <div *ngIf="showDetails" class="detail-box show-in-mobile">
                    <div class="background-img" style="background-image:url(../../../assets/images/card3.png);"></div>
                    <div class="text-wrap">
                        <h2>Avengers 3</h2>
                        <h3>2018 <span class="dot">.</span> Action, Adventure</h3>
                        <h4>Plot</h4>
                        <p>Earth's mightiest heroes must come together and learn to fight as a team if they are going to
                            stop the mischievous loki and his alien army from enslaving humanity.
                        </p>

                        <h4>Actors</h4>
                        <p>Robert Downey Jr, Chris Evans, Mark Ruffalo, Chris Hemsworth</p>

                        <h4>Ratings</h4>
                        <ul>
                            <li>Internet Movie Database: 8.0/10</li>
                            <li>Rotten Tomatoes:92%</li>
                            <li>Metacritic: 69/100</li>
                        </ul>

                        <a>
                            <fa-icon [icon]="faHeart"></fa-icon>Add to Favourite
                        </a>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <div class="movie-card">
                <img src="../../../assets/images/card2.jpg">
                <p>Avengers 2</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
            <div class="movie-card">
                <img src="../../../assets/images/card1.jpg">
                <p>Avengers 3</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
            <!-- tab view - display only after three movie-cards -->
            <div class=detail-wrapper [ngClass]="showDetails ? 'showTab' : 'hide'">
                <div *ngIf="showDetails" class="detail-box show-in-tabs">
                    <div class="background-img" style="background-image:url(../../../assets/images/card3.png);"></div>
                    <div class="text-wrap">
                        <h2>Avengers 3</h2>
                        <h3>2018 <span class="dot">.</span> Action, Adventure</h3>
                        <h4>Plot</h4>
                        <p>Earth's mightiest heroes must come together and learn to fight as a team if they are going to
                            stop the mischievous loki and his alien army from enslaving humanity.
                        </p>

                        <h4>Actors</h4>
                        <p>Robert Downey Jr, Chris Evans, Mark Ruffalo, Chris Hemsworth</p>

                        <h4>Ratings</h4>
                        <ul>
                            <li>Internet Movie Database: 8.0/10</li>
                            <li>Rotten Tomatoes:92%</li>
                            <li>Metacritic: 69/100</li>
                        </ul>

                        <a>
                            <fa-icon [icon]="faHeart"></fa-icon>Add to Favourite
                        </a>
                    </div>
                </div>
            </div>
            <!-- end card-->

            <div class="movie-card"><img src="../../../assets/images/card4.jpg">
                <p>Avengers 4</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
            <div class="movie-card"><img src="../../../assets/images/card5.jpg">
                <p>Avengers5</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
            <!-- desktop view - display only after five movie-cards -->
            <div class=detail-wrapper [ngClass]="showDetails ? 'showDesktop' : 'hide'">
                <div *ngIf="showDetails" class="detail-box">
                    <div class="background-img" style="background-image:url(../../../assets/images/card3.png);"></div>
                    <div class="text-wrap">
                        <h2>Avengers 3</h2>
                        <h3>2018 <span class="dot">.</span> Action, Adventure</h3>
                        <h4>Plot</h4>
                        <p>Earth's mightiest heroes must come together and learn to fight as a team if they are going to
                            stop the mischievous loki and his alien army from enslaving humanity.
                        </p>

                        <h4>Actors</h4>
                        <p>Robert Downey Jr, Chris Evans, Mark Ruffalo, Chris Hemsworth</p>

                        <h4>Ratings</h4>
                        <ul>
                            <li>Internet Movie Database: 8.0/10</li>
                            <li>Rotten Tomatoes:92%</li>
                            <li>Metacritic: 69/100</li>
                        </ul>

                        <a>
                            <fa-icon [icon]="faHeart"></fa-icon>Add to Favourite
                        </a>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <div class="movie-card"><img src="../../../assets/images/card1.jpg">
                <p>Avengers 6</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
            <div class="movie-card"><img src="../../../assets/images/card5.jpg">
                <p>Avengers 7</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
            <div class="movie-card"><img src="../../../assets/images/card4.jpg">
                <p>Avengers 8</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
            <div class="movie-card"><img src="../../../assets/images/card2.jpg">
                <p>Avengers 9</p>
                <p>2018
                    <button class="detail-btn">Details</button>
                </p>
            </div>
        </div>

        <div class="pagination-wrapper">
            <app-pagination></app-pagination>
        </div>
    </div>


</div>